@model string
@using Spice.Utility
<div style="width:100%">
    @if (Model == SD.StatusSubmitted)
    {
        <img src="~/images/enviado.png" width="100%" />
    }
    @if (Model == SD.StatusInProcess)
    {
        <img src="~/images/cocina.png" width="100%" />
    }
    @if (Model == SD.StatusReady)
    {
        <img src="~/images/preparado.png" width="100%" />
    }
    @if (Model == SD.StatusCompleted)
    {
        <img src="~/images/completado.png" width="100%" />
    }
</div>